@import url('https://fonts.googleapis.com/css2?family=Koulen&family=Quicksand&display=swap');

h1 {
    font-family: 'Quicksand', sans-serif;
    font-size: 25px;
  }

@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap');

h2{
  font-family: 'Noto Serif', serif;
  font-size: 45px;
  margin-top: 40px;
  text-shadow: 0.1em 0.1em 0.2em #2E8B57;
}

.t__inicio {
  font-family: 'Noto Serif', serif;
  font-size: 45px;
  text-shadow: 0.1em 0.1em 0.2em #2E8B57;
  color: white;
}
 